<!-- https://giscus.app/ -->
<script type="text/javascript">
  (function () {
    const origin = 'https://giscus.app';
    const lightTheme = 'light';
    const darkTheme = 'dark_dimmed';

    let initTheme = lightTheme;
    const html = document.documentElement;

    if (
      (html.hasAttribute('data-mode') &&
        html.getAttribute('data-mode') === 'dark') ||
      (!html.hasAttribute('data-mode') &&
        window.matchMedia('(prefers-color-scheme: dark)').matches)
    ) {
      initTheme = darkTheme;
    }

    let lang = '{{ site.comments.giscus.lang | default: lang }}';
    {%- comment -%} https://github.com/giscus/giscus/tree/main/locales {%- endcomment -%}
    if (lang.length > 2 && !lang.startsWith('zh')) {
      lang = lang.slice(0, 2);
    }

    let giscusAttributes = {
  src: "https://giscus.app/client.js",
  "data-repo": "ruukr8080/ruukr8080.github.io",
  "data-repo-id": "",
  "data-category": "Announcements",
  "data-category-id": "",
  "data-mapping": "pathname",
  "data-reactions-enabled": "1",
  "data-emit-metadata": "0",
  "data-theme": initTheme,
  "data-input-position":
    "bottom",
  "data-lang": "",
  crossorigin: "anonymous",
  async: "",
};

let giscusScript = document.createElement("script");
Object.entries(giscusAttributes).forEach(([key, value]) =>
  giscusScript.setAttribute(key, value)
);
document.getElementById("tail-wrapper").appendChild(giscusScript);

    addEventListener('message', (event) => {
      if (
        event.source === window &&
        event.data &&
        event.data.direction === ModeToggle.ID
      ) {
        {%- comment -%} global theme mode changed {%- endcomment -%}
        const mode = event.data.message;
        const theme = mode === ModeToggle.DARK_MODE ? darkTheme : lightTheme;

        const message = {
          setConfig: {
            theme: theme
          }
        };

        const giscus = document.getElementsByClassName('giscus-frame')[0].contentWindow;
        giscus.postMessage({ giscus: message }, origin);
      }
    });
  })();
</script>
